@using Data
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AlwaysForum</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
<header>
    <div style="width: 85%" class="d-flex m-auto">
        <div class="me-auto logo-container">
            <a class="forum-logo text-white">AlwaysForum</a>
        </div>
        <div class="d-flex bg-opacity-10 bg-black">
            @if (User.Identity.IsAuthenticated) {
                <div class="align-self-center p-3 text-white nav-item">
                    Logged as
                    @if (User.IsInRole(GlobalConstants.AdminRoleName)) {
                        <a href="#" class="text-uppercase text-white">@User.Identity.Name</a>
                    }
                    else {
                        <a href="#" class="text-white">@User.Identity.Name</a>
                    }
                </div>
                <div class="align-self-center p-3 nav-item">
                    <a class="text-white" asp-controller="Account" asp-action="Logout">Sign off</a>
                </div>
            }
            else {
                <div class="align-self-center p-3">
                    <a class="nav-item text-white" asp-controller="Account" asp-action="Login">Login</a>
                </div>
                <div class="align-self-center p-3">
                    <a class="nav-item text-white" asp-controller="Account" asp-action="Register">Register</a>
                </div>
            }
        </div>
    </div>   

    <nav class="navbar navbar-expand-sm navbar-light bg-white box-shadow mb-3">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse">
                <ul class="navbar-nav d-flex justify-content-around w-100">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="#">Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="#">Shoutbox</a>
                    </li>
                    @if (User.IsInRole(GlobalConstants.AdminRoleName)) {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Admin" asp-action="Panel">Admin panel</a>
                        </li>
                    }
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Help</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
    <div class="container min-vh-100">
        <main role="main" class="pb-3 ">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted">
        <div class="container">
            &copy; 2022 - AlwaysForum - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
