@model Data.ViewModels.SectionAddViewModel

<form method="post">
    <div asp-validation-summary="All"></div>
    <div class="mb-3">
        <span asp-validation-for="Name"></span>
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-check-input"/>
    </div>
    <input class="btn btn-info" type="submit" value="Confirm"/>
</form>