@model Data.ViewModels.Account.RegisterViewModel

<div class="d-flex justify-content-center">
<form method="post">
    <h2>Register</h2>
    <div asp-validation-summary="All"></div>
    <div class="mb-3">
        <span asp-validation-for="UserName"></span>
        <label asp-for="UserName"></label>
        <input asp-for="UserName" class="form-control"/>
    </div>
    <div class="mb-3">
        <span asp-validation-for="Email"></span>
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control"/>
    </div>
    <div class="mb-3">
        <span asp-validation-for="Password"></span>
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control"/>
    </div>
    <div class="mb-3">
        <span asp-validation-for="PasswordConfirm"></span>
        <label asp-for="PasswordConfirm"></label>
        <input asp-for="PasswordConfirm" class="form-control"/>
    </div>
    <input class="btn btn-info" type="submit" value="Register"/>
</form>
</div>