@model Data.ViewModels.Post.PostCreateViewModel

<h2>Create new post</h2>
<hr/>
<form method="post">
    <div asp-validation-summary="All"></div>
    <input asp-for="SectionId" hidden/>
    <div class="mb-3">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control"/>
    </div>
    <div class="mb-3">
        <label asp-for="Description"></label>
        <textarea asp-for="Description"></textarea>
    </div>
    <div class="mb-3">
        <label>Tags</label>
        <span asp-validation-for="SelectedTags"></span>
        <select asp-for="SelectedTags" id="input-tags">
            @foreach (var tag in Model.TagList) {
                <option value="@tag.Id">@tag.Name</option>
            }
        </select>
    </div>
    <input asp-for="TagList" hidden/>
    <input id="submit-button" type="submit" value="Submit" class="btn btn-success"/>
</form>

@section Scripts {
    <script>
        $('#input-tags').selectize({
            plugins: ['remove_button'],
            delimiter: ',',
            persist: false,
            maxItems: 3,
            create: false
        })
    </script>
}