@model Data.ViewModels.Post.PostCreateViewModel

<h2>Create new post</h2>
<hr/>
<form method="post">
    <div asp-validation-summary="All"></div>
    <input asp-for="SectionId" hidden/>
    <div class="mb-3">
        <label asp-for="Title"></label>
        <input id="user-input" asp-for="Title" class="form-control"/>
    </div>
    <div class="mb-3">
        <label asp-for="Description"></label>
        <textarea id="user-input" asp-for="Description"></textarea>
    </div>
    <input id="submit-button" type="submit" value="Submit" class="btn btn-success"/>
</form>