@model Data.ViewModels.Section.SectionEditViewModel

<h2>Modify '@Model.Name' section</h2>
<hr/>
<form method="post">
    <input asp-for="Id" hidden/>
    <div asp-validation-summary="All"></div>
    <div class="mb-3">
        <span asp-validation-for="Name"></span>
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control"/>
    </div>
    <div class="mb-3">
        <span asp-validation-for="Description"></span>
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>
    <input class="btn btn-info" type="submit" value="Confirm"/>
</form>