@model IEnumerable<Section>

@{
    ViewData["Title"] = "Home Page";
}

<style>
    .forum-section {
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 4px;
        padding: 5px;
        margin-bottom: 5px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .section-title {
        padding: 5px;
        margin-left: 10px;
        font-weight: bold;
        font-size: 1.8em;
    }

    .section-description {
        margin: 10px;
        margin-left: 5%;
        font-size: 1.1em;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>AlwaysForum is open for any discussion!</p>
    <p>To begin creating and commenting threads create an account</p>
    <hr/>
</div>
<div>
    <ul class="w-100">
        @foreach (var sectionForum in Model) {
            <li class="forum-section">
                <div class="section-title">
                    <a asp-controller="Section" asp-action="View" asp-route-sectionId="@sectionForum.Id">@sectionForum.Name</a>
                </div>
                <div class="section-description">
                    @Html.Raw(sectionForum.Description)
                </div>
            </li>
        }
    </ul>
</div>
