html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

.container {
    background-color: white;
    margin-top: 30px;
    padding: 20px;
}

.logo-container {
    margin: 20px;
}

.forum-logo {
    margin-left: 10%;
    font-size: 2rem;
    letter-spacing: 1px;
    font-weight: bold;
    text-decoration: none;
}

.nav-item {
    font-size: 1.1em;
    font-weight: 600;
}

body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
    margin-bottom: 60px;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}